* {
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    padding: 0 10% 0 10%;
}

.head {
    display: flex;
}

#avatar {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    object-position: 0% 0%;
}

.title {
    margin: 0 5vw 0 5vw;
    width: 40vw;
    height: 20vw;
    position: relative;
}

#name {
    display: inline-block;
    position: absolute;
    margin: 0;
    bottom: 0;
    font-size:  6vw;
}